<?php
$sugar_config_si  = array(
    'dbUSRData' => 'create',
    'default_currency_iso4217' => 'USD',
    'default_currency_name' => 'US Dollar',
    'default_currency_significant_digits' => '2',
    'default_currency_symbol' => '$',
    'default_date_format' => 'Y-m-d',
    'default_decimal_seperator' => '.',
    'default_export_charset' => 'UTF-8',
    'default_language' => 'en_us',
    'default_locale_name_format' => 's f l',
    'default_number_grouping_seperator' => '.',
    'default_time_format' => 'H:i',
    'export_delimiter' => ',',
    'setup_db_admin_password' => '{{ suitecrm_mysql_user_password }}',
    'setup_db_admin_user_name' => '{{ suitecrm_mysql_user }}',
    'setup_db_create_database' => 1,
    'setup_db_database_name' => '{{ suitecrm_mysql_db }}',
    'setup_db_drop_tables' => 0,
    'setup_db_host_name' => '{{ suitecrm_mysql_host }}',
    'setup_db_pop_demo_data' => false,
    'setup_db_type' => 'mysql',
    'setup_db_username_is_privileged' => true,
    'setup_site_admin_password' => '{{ suitecrm_admin_password }}',
    'setup_site_admin_user_name' => '{{ suitecrm_admin_user_name }}',
    'setup_site_url' => '{{ suitecrm_setup_site_url }}',
    'setup_system_name' => '{{ suitecrm_setup_system_name }}',
    'addAjaxBannedModules' => array(
        'Home',
        'Notes',
        'Calls',
        'Bugs',
        'Spots',
        'Cases',
        'AOBH_BusinessHours',
        'FP_events',
        'FP_Event_Locations',
        'jjwg_Maps',
        'AOK_Knowledge_Base_Categories',
        'AOS_Quotes',
        'jjwg_Markers',
        'AOR_Reports',
        'jjwg_Areas',
        'jjwg_Address_Cache',
        'AOW_WorkFlow',
        'AOS_Products',
        'AOK_KnowledgeBase',
        'AOS_Product_Categories',
        'AOS_PDF_Templates',
        'AOS_Invoices',
        'AOS_Contracts',
        'AOR_Scheduled_Reports',
        'AM_ProjectTemplates',
        'ResourceCalendar',
        'Leads',
        'Meetings',
        'ProspectLists',
        'Prospects',
        'Opportunities',
        'Accounts',
        'Contacts',
        'Tasks',
    ),
);