<?php
$sugar_config_si  = array(
    'dbUSRData' => 'create',
    'default_currency_iso4217' => 'USD',
    'default_currency_name' => 'US Dollar',
    'default_currency_significant_digits' => '2',
    'default_currency_symbol' => '$',
    'default_date_format' => 'Y-m-d',
    'default_decimal_seperator' => '.',
    'default_export_charset' => 'UTF-8',
    'default_language' => '{{ suitecrm_default_language }}',
    'default_locale_name_format' => 's f l',
    'default_number_grouping_seperator' => '.',
    'default_time_format' => 'H:i',
    'export_delimiter' => ',',
    'setup_db_admin_password' => '{{ suitecrm_mysql_user_password }}',
    'setup_db_admin_user_name' => '{{ suitecrm_mysql_user }}',
    'setup_db_create_database' => 1,
    'setup_db_database_name' => '{{ suitecrm_mysql_db }}',
    'setup_db_drop_tables' => 1,
    'setup_db_host_name' => '{{ suitecrm_mysql_host }}',
    'setup_db_pop_demo_data' => false,
    'setup_db_type' => 'mysql',
    'setup_db_username_is_privileged' => true,
    'setup_site_admin_password' => '{{ suitecrm_admin_password }}',
    'setup_site_admin_user_name' => '{{ suitecrm_admin_user_name }}',
    'setup_site_url' => '{{ suitecrm_setup_site_url }}',
    'setup_system_name' => '{{ suitecrm_setup_system_name }}',
    'addAjaxBannedModules' => array(
        'Home',
        'Notes',
        'Calls',
        'Bugs',
        'Spots',
        'Cases',
        'AOBH_BusinessHours',
        'FP_events',
        'FP_Event_Locations',
        'jjwg_Maps',
        'AOK_Knowledge_Base_Categories',
        'AOS_Quotes',
        'jjwg_Markers',
        'AOR_Reports',
        'jjwg_Areas',
        'jjwg_Address_Cache',
        'AOW_WorkFlow',
        'AOS_Products',
        'AOK_KnowledgeBase',
        'AOS_Product_Categories',
        'AOS_PDF_Templates',
        'AOS_Invoices',
        'AOS_Contracts',
        'AOR_Scheduled_Reports',
        'AM_ProjectTemplates',
        'ResourceCalendar',
        'Leads',
        'Meetings',
        'ProspectLists',
        'Prospects',
        'Opportunities',
        'Accounts',
        'Contacts',
        'Tasks',
    ),
    'logger' => array(
        'file' => array(
            'maxSize' => '20MB',
            'name' => 'suitecrm',
        ),
        'level' => 'info',
    ),
    'log_dir' => '{{ suitecrm_log_dir }}',
    'languages' => array(
        'af_ZA' => 'Afrikaans (South Africa)',
        'ar_EG' => 'Arabic (Egypt)',
        'ar_SA' => 'Arabic (Saudi Arabia)',
        'bg_BG' => 'Bulgarian (Bulgaria)',
        'ca_ES' => 'Catalan (Spain)',
        'cs_CZ' => 'Czech (Czech Republic)',
        'da_DK' => 'Danish (Denmark)',
        'de_DE' => 'German (Germany)',
        'de_CH' => 'German (Switzerland)',
        'el_GR' => 'Greek (Greece)',
        'en_UK' => 'English (United Kingdom)',
        'en_UD' => 'English (Upside Down)',
        'es_ES' => 'Spanish (Spain)',
        'es_MX' => 'Spanish (Mexico)',
        'es_PY' => 'Spanish (Paraguay)',
        'et_EE' => 'Estonian (Estonia)',
        'eu_ES' => 'Basque (Spain)',
        'fa_IR' => 'Persian (Iran)',
        'fi_FI' => 'Finnish (Finland)',
        'fr_FR' => 'French (France)',
        'fr_CA' => 'French (Canada)',
        'en_US' => 'English (United Kingdom)',
        'he_IL' => 'Hebrew (Israel)',
        'hi_IN' => 'Hindi (India)',
        'hr_HR' => 'Croatian (Croatia)',
        'hu_HU' => 'Hungarian (Hungary)',
        'hy_AM' => 'Armenian (Armenia)',
        'id_ID' => 'Indonesian (Indonesia)',
        'it_IT' => 'Italian (Italy)',
        'ja_JP' => 'Japanese (Japan)',
        'ka_GE' => 'Georgian (Georgia)',
        'ko_KR' => 'Korean (Korea)',
        'lt_LT' => 'Lithuanian (Lithuania)',
        'lv_LV' => 'Latvian (Latvia)',
        'mk_MK' => 'Macedonian (Macedonia)',
        'nb_NO' => 'Norwegian Bokmål (Norway)',
        'nl_NL' => 'Dutch (Netherlands)',
        'pl_PL' => 'Polish (Poland)',
        'pt_BR' => 'Portuguese (Brazil)',
        'pt_PT' => 'Portuguese (Portugal)',
        'ro_RO' => 'Romanian (Romania)',
        'ru_RU' => 'Russian (Russia)',
        'si_LK' => 'Sinhala (Sri Lanka)',
        'sk_SK' => 'Slovak (Slovakia)',
        'sl_SI' => 'Slovenian (Slovenia)',
        'sq_AL' => 'Albanian (Albania)',
        'sr_CS' => 'Serbian (Latin)',
        'sv_SE' => 'Swedish (Sweden)',
        'th_TH' => 'Thai (Thailand)',
        'tr_TR' => 'Turkish (Turkey)',
        'uk_UA' => 'Ukrainian (Ukraine)',
        'ur_PK' => 'Urdu (Pakistan)',
        'vi_VN' => 'Vietnamese (Viet Nam)',
        'zh_CN' => '简体中文 (Chinese-Simplified)',
        'zh_TW' => 'Chinese (Taiwan)',
    ),
);